
.allProperties {
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.PropertiesForm {
    margin: 3em;
}

.eachDirtyProperty {
    padding: 3em;
    margin: 2rem;
    box-shadow: -5px 6px 7px;
    background-color: #fffcf994;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
}
